
/* Small devices (phones, 576px and up) */
@media (max-width: 575.999px) {
    #nav {
        background: red;
    }
    .nav-link{
        color: #fff;
    }




}


/* (sm) Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.999px) {
    #nav {
        background: gold;
    }
    .nav-link{
        color: #000;
    }





}



/* (md) Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.999px) {
    #nav {
        background: #D2691E;
        padding-top: 15px;
    }
    .nav-link{
        color: #ADFF2F;
    }


    

}



/* (lg) Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.999px) {
    #nav {
        background: skyblue;
    }
    .nav-link{
        color: #F30089;
    }




}



/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.999px) {
    #nav {
        background: greenyellow;
    }
    .nav-link{
        color: #0227F1;
    }




}







/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* #nav {
        background: blueviolet;
    }
    .nav-link{
        color: #fff;
    }     */







}