
/* Small devices (phones, 576px and up) */
@media (max-width: 575.999px) {
    #nav {
        background: red;
    }
    .nav-link{
        color: #fff;
    }

    /* nav part start */
    .nav-link {
        line-height: 15px;
    }
    #navbarSupportedContent .commonBtn {
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}
    #nav .navbar-toggler-icon {
        width: 1em;
        height: 1em;
    }
    #nav button, input, optgroup, select, textarea {
        margin: 11px 1px;
    }

    /* nav part End */

    /* banner part start */
    #banner {
        padding: 0 0 50px;
        text-align: center;
        background-color: #F9F9FC;
    }
    #banner .bannerTitle {
        max-width: unset;
        font-size: calc(60px * .475 + 2.1vw);
        text-align: center;
        line-height: 1.5;
    }
    #banner .bannerImage{
        max-width: 95%;
        margin-top: 30px;
    }
    /* banner part End */

    /* counter start */
    #counter span {
        font-size: calc(48px * .475 + 2.1vw);
        line-height: 1.5;
    }
    /* counter end */

    /* service start */
    #service {
        padding: 85px 0 50px;
    }
    #service .secTitle {
        font-size: calc(56px * .475 + 2.1vw);
        text-align: center;
        line-height: 1.5;
    }
    #service .card .card-body h3 {
        font-size: calc(20px * .90 + 0.15vw);
        line-height: 32px;
    }
    /* service end */
    
    /* graphic start */
    #graphic{
        padding: 50px 0;
        text-align: center;
    }
    #graphic .secTitle {
        max-width: unset;
        font-size: calc(60px * .475 + 2.1vw);
        text-align: center;
        line-height: 1.5;
    }
    /* graphic end */
    
    /* Client start */
    #client {
        padding: 55px 0;
    }
    #client .clientImage{
        width: 100%;
    }
    /* Client end */

    /* portfolio start */
    #portfolio{
        padding: 58px 0;
        text-align: center;
    }
    #portfolio .secTitle {
        font-size: calc(56px * .475 + 2.1vw);
        text-transform: capitalize;
    }
    #portfolio .secDetails {
        padding-right: unset;
        margin-top: 15px;
    }
    /* portfolioClient end */


}


/* (sm) Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.999px) {
    #nav {
        background: gold;
    }
    .nav-link{
        color: #000;
    }





}



/* (md) Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.999px) {
    #nav {
        background: #D2691E;
        padding-top: 15px;
    }
    .nav-link{
        color: #ADFF2F;
    }


    

}



/* (lg) Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.999px) {
    #nav {
        background: skyblue;
    }
    .nav-link{
        color: #F30089;
    }




}



/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.999px) {
    #nav {
        background: greenyellow;
    }
    .nav-link{
        color: #0227F1;
    }




}







/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* #nav {
        background: blueviolet;
    }
    .nav-link{
        color: #fff;
    }     */







}